{{#partial "content"}}



    <h1>Walker List</h1>

    {{#if walkers}}
        {{#each walkers}}
        <div class = "well">
            <p>{{walkerName}} <a href="/walkers{{Id}}"></a></p>
        </div>
        {{/each}}
    {{else}}
    <p>No Walkers!</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}