{{#partial "content"}}


    <p>Current Walkers:</p>
    {{#if walkers}}

        {{#each walkers }}
            <p>{{walkerName}}<a href="/walkers/{{walkerId}}/dogs/{{dog.id}}"></a></p>
        {{/each}}
    {{else}}
        <p>No Walkers!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}