{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>

        <title>{{#block "title"}}Welcome to Walkies{{/block}}</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
{{/block}}
    <body>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/dogs/new">Add a Dog</a></li>
            <li role="presentation"><a href="/walkers/new">Add a Walker</a></li>



        </ul>



<div class="container">

    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome to Walkies. <small>A journey into companionship!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}

        {{/block}}
    </div>

    <!--end main template-->
{{#block "footer"}}
        <footer class="footer">
            <div class="container">

            </div>
        </footer>

    </div>

    </body>
    </html>
{{/block}}
